<div class="pagetitle">
    <h1>Department</h1>
</div><!-- End Page Title -->

<section class="section">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">

                    <table class="table table-bordered table-striped text-center">
                        <thead class="table-dark">
                            <tr>
                                <th>Department ID</th>
                                <th>Department Name</th>
                                <th>Head of Department</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>101</td>
                                <td>Computer Science</td>
                                <td>Dr. Sharma</td>
                                <td>Block A</td>
                            </tr>
                            <tr>
                                <td>102</td>
                                <td>Mechanical Engineering</td>
                                <td>Dr. Patel</td>
                                <td>Block B</td>
                            </tr>
                            <tr>
                                <td>103</td>
                                <td>Electrical Engineering</td>
                                <td>Dr. Mehta</td>
                                <td>Block C</td>
                            </tr>
                            <tr>
                                <td>104</td>
                                <td>Civil Engineering</td>
                                <td>Dr. Desai</td>
                                <td>Block D</td>
                            </tr>
                            <tr>
                                <td>105</td>
                                <td>Electronics & Communication</td>
                                <td>Dr. Iyer</td>
                                <td>Block E</td>
                            </tr>
                            <tr>
                                <td>106</td>
                                <td>Information Technology</td>
                                <td>Dr. Verma</td>
                                <td>Block F</td>
                            </tr>
                            <tr>
                                <td>107</td>
                                <td>Chemical Engineering</td>
                                <td>Dr. Rao</td>
                                <td>Block G</td>
                            </tr>
                            <tr>
                                <td>108</td>
                                <td>Biomedical Engineering</td>
                                <td>Dr. Kulkarni</td>
                                <td>Block H</td>
                            </tr>
                            <tr>
                                <td>109</td>
                                <td>Aeronautical Engineering</td>
                                <td>Dr. Menon</td>
                                <td>Block I</td>
                            </tr>
                            <tr>
                                <td>110</td>
                                <td>Automobile Engineering</td>
                                <td>Dr. Saxena</td>
                                <td>Block J</td>
                            </tr>
                            <tr>
                                <td>111</td>
                                <td>Artificial Intelligence</td>
                                <td>Dr. Malhotra</td>
                                <td>Block K</td>
                            </tr>
                            <tr>
                                <td>112</td>
                                <td>Data Science</td>
                                <td>Dr. Chatterjee</td>
                                <td>Block L</td>
                            </tr>
                            <tr>
                                <td>113</td>
                                <td>Cyber Security</td>
                                <td>Dr. Banerjee</td>
                                <td>Block M</td>
                            </tr>
                            <tr>
                                <td>114</td>
                                <td>Robotics Engineering</td>
                                <td>Dr. Joshi</td>
                                <td>Block N</td>
                            </tr>
                            <tr>
                                <td>115</td>
                                <td>Environmental Engineering</td>
                                <td>Dr. Kaur</td>
                                <td>Block O</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>
