<div class="pagetitle">
    <h1>Dashboard Page</h1>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Upcoming Meetings</h5>
                    <p>View and manage scheduled meetings </p>
                </div>
            </div>

        </div>

        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Staff Directory</h5>
                    <p>Manage staff and departments</p>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Meeting Venues</h5>
                    <p>Add or update meeting locations</p>
                </div>
            </div>

        </div>

        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Reports</h5>
                    <p>Analyze meeting performance</p>
                </div>
            </div>

        </div>
    </div>
</section>
